<section class="card">
  <a href="/postnow/{{id}}">
    <header id="subject2">{{subject}}</header>
    {{detail}}<br><br>
    <img src="{{img_url}}"><br><br>
    <div>Created by {{poster}}. Date: {{format_time updated_time}}</div>

  </a>
</section>