<section class="container">
<section class="gallery">
  <div class="listCard2 card">
  <div class="post-subject">{{post.subject}}</div><br>
  <p class="post-detail"><br /> <br />{{post.detail}}</p><br/><br>
  <div class="post-by">Created by: {{format_time post.updated_time}}</div>
  <div class="post-img"><img src="{{img_url}}"></div>
  </div>
</section>

<section class="post-comment">
  <div class="comment-div">
    <div id="comment-status" class="form-error"></div>
    <input type="hidden" id="postid" value="{{post.id}}"/>
    <input type="hidden" id="commentid" value="{{comment.id}}"/>
    <form class="form post-form">
      <div class="form-group">
        <label for="comment-detail">Comment:</label>
        <textarea class="form-input"  id="comment-detail" ></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="comment-btn" type="button">Submit</button>
      </div>
    </form>
  </div>
</section>

  <section class="flex-row justify-center">
    {{#each comments as |comment|}}
    {{> comment}}
    {{/each}}
  </section>
</section>
<script src="/js/comment.js"></script>